Package: adpi-firmware
Version: 1.0.0
Architecture: armhf
Maintainer: Masahiro Honda <honda@mechatrax.com>
Installed-Size: 20
Depends: raspberrypi-kernel-mtx
Section: misc
Priority: optional
Homepage: https://mechatrax.com/
Description: Device tree overlay binary for ADPi
 This package contains the device tree overlay binary for ADPi.
