/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			refin0: fixedregulator_5v0_refin0 {
				compatible = "regulator-fixed";
				regulator-name = "max6126-adpi0";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				regulator-always-on;
				regulator-boot-on;
			};
			vreg0: fixedregulator_3v3_vcc0 {
				compatible = "regulator-fixed";
				regulator-name = "lp2992-adpi0";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
	
	fragment@1 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
		};
	};
	
	fragment@2 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@3 {
		target = <&spidev1>;
		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@4 {
		target = <&gpio>;
		__overlay__ {
			ad7794_irq0: ad7794_pins18 {
				brcm,pins = <18>;
				brcm,function = <0>;
				brcm,pull = <2>; /* 2: up */
			};
		};
	};
	
	fragment@5 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			adc0: ad7794@0 {
				compatible = "adi,ad7794";
				reg = <0>;
				
				spi-max-frequency = <1000000>;
				spi-cpha;
				spi-cpol;
				
				interrupt-names = "irq";
				interrupts = <18 0x08>;
				interrupt-parent = <&gpio>;
				
				pinctrl-names = "default";
				pinctrl-0 = <&ad7794_irq0>;
				gpios = <&gpio 18 0>;
				
				adi,reference-select = <0>;
				refin-supply = <&refin0>;
			};
		};
	};
	
	fragment@6 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";
		};
	};
	
	fragment@7 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			eeprom0: at24c256@57 {
				compatible = "atmel,24c256";
				reg = <0x57>;
				
				pagesize = <256>;
				vcc-supply = <&vreg0>;
			};
		};
	};

	fragment@8 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			gpiom0: mcp23008@27 {
				compatible = "microchip,mcp23008";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x27>;
				gpio-line-names = "adpipro0_ch0",
						  "adpipro0_ch1",
						  "adpipro0_ch2",
						  "adpipro0_ch3";
			};
		};
	};

	__overrides__ {
		eeprom = <&eeprom0>,"reg:0";
		gpio = <&gpiom0>,"reg:0";
		irq = <&ad7794_irq0>,"brcm,pins:0", <&adc0>,"interrupts:0";
	};
};

