/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			refin1: fixedregulator_5v0_refin1 {
				compatible = "regulator-fixed";
				regulator-name = "max6126-adpi1";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				regulator-always-on;
				regulator-boot-on;
			};
			vreg1: fixedregulator_3v3_vcc1 {
				compatible = "regulator-fixed";
				regulator-name = "lp2992-adpi1";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
	
	fragment@1 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
		};
	};
	
	fragment@2 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@3 {
		target = <&spidev1>;
		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@4 {
		target = <&gpio>;
		__overlay__ {
			ad7794_irq1: ad7794_pins25 {
				brcm,pins = <25>;
				brcm,function = <0>;
				brcm,pull = <0>;
			};
		};
	};
	
	fragment@5 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			adc1: ad7794@1 {
				compatible = "adi,ad7794";
				reg = <1>;
				
				spi-max-frequency = <1000000>;
				spi-cpha;
				spi-cpol;
				interrupts = <25 0x02>;
				interrupt-parent = <&gpio>;
				
				adi,reference-select = <0>;
				refin-supply = <&refin1>;
			};
		};
	};
	
	fragment@6 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";
		};
	};
	
	fragment@7 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			eeprom1: at24c256@56 {
				compatible = "atmel,24c256";
				reg = <0x56>;
				
				pagesize = <256>;
				vcc-supply = <&vreg1>;
			};
		};
	};

	fragment@8 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			gpiom1: mcp23008@26 {
				compatible = "microchip,mcp23008";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x26>;
				gpio-line-names = "adpipro1_ch0",
						  "adpipro1_ch1",
						  "adpipro1_ch2",
						  "adpipro1_ch3";
			};
		};
	};

	__overrides__ {
		eeprom = <&eeprom1>,"reg:0";
		gpio = <&gpiom1>,"reg:0";
		irq = <&ad7794_irq1>,"brcm,pins:0", <&adc1>,"interrupts:0";
	};
};

