/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			max6126: fixedregulator_refin0 {
				compatible = "regulator-fixed";
				regulator-name = "max6126-0";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
	
	fragment@1 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
		};
	};
	
	fragment@2 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@3 {
		target = <&spidev1>;
		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@4 {
		target = <&gpio>;
		__overlay__ {
			ad7794_pins: ad7794_pins0 {
				brcm,pins = <18>;
				brcm,function = <0>;
				brcm,pull = <0>;
			};
		};
	};
	
	fragment@5 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			adc0: ad7794@0 {
				compatible = "adi,ad7794";
				reg = <0>;
				
				spi-max-frequency = <1000000>;
				spi-cpha;
				spi-cpol;
				interrupts = <18 0x08>;
				interrupt-parent = <&gpio>;
				
				adi,user-calibration-enable;
				adi,reference-select = <0>;
				refin-supply = <&max6126>;
			};
		};
	};
	
	fragment@6 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";
		};
	};
	
	fragment@7 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			eeprom0: at24c256@57 {
				compatible = "atmel,24c256";
				reg = <0x57>;
				
				pagesize = <256>;
			};
		};
	};

	fragment@8 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			gpio0: mcp23008@27 {
				compatible = "microchip,mcp23008";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x27>;
			};
		};
	};

	__overrides__ {
		eeprom = <&eeprom0>,"reg:0";
		gpio = <&gpio0>,"reg:0";
		irq = <&ad7794_pins>,"brcm,pins:0", <&adc0>,"interrupts:0";
		autocalib = <&adc0>,"adi,user-calibration-enable!";
	};
};

