Source: adpi-firmware
Section: misc
Priority: optional
Maintainer: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://mechatrax.com/
Vcs-Git: https://github.com/mechatrax/adpi-firmware.git
Vcs-browser: https://github.com/mechatrax/adpi-firmware

Package: adpi-firmware
Architecture: any
Depends: ${misc:Depends}, raspberrypi-kernel-mtx
Description: Device tree overlay binary for ADPi
 This package contains the device tree overlay binary for ADPi.
